:root {
    --body-bg-color: #fff7eb;
    --body-color: #1a1d23;
    --alt-bg-color: #1e2749;
    --alt-color: #fafaff;
}

@media print {
    :root {
        --body-bg-color: white;
        --body-color: black;
        --alt-bg-color: white;
        --alt-color: black;
    }
}

.coomes-resume {
    color: var(--body-color);
    background-color: var(--body-bg-color);
}

.coomes-resume .header {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--alt-bg-color);
    color: var(--alt-color);
}

.coomes-resume .section {
    margin-bottom: 2rem;
}

.coomes-resume .section__content {
    margin-left: 1rem;
}

.coomes-resume .education__details {
    text-align: right;
}

.coomes-resume .employer__location {
    text-align: right;
}

.coomes-resume .work {
    margin-left: 1rem;
}

.coomes-resume .work__role-list {
    margin-left: 1rem;
}

.coomes-resume .employer__title {
    margin-bottom: 0;
}

.coomes-resume .role__dates {
    text-align: right;
}